<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="reactiveui" version="8.0.0-alpha0034" targetFramework="net461" />
  <package id="reactiveui-events-wpf" version="8.0.0-alpha0062" targetFramework="net461" />
  <package id="reactiveui-wpf" version="8.0.0-alpha0034" targetFramework="net461" />
  <package id="Splat" version="2.0.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net461" />
</packages>